@use '../base/variables' as v;
@use '../base/mixins' as m;

.header{
    padding-bottom: 30rem;
    background-image: url(../img/wave.svg);
    background-repeat: no-repeat;
    background-position: bottom;

}